.invoice_container {
    font-family: var(--primary-fonts);
    font-weight: 300;
    padding: 50px 0;
}

.invoice_section_title {
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}

.invoice_footer_note {
    text-align: center;
    border-top: 1px dashed #ddd;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 13px;
}