.dashboard_section {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.dashboard_sidebar {
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dashboard_sidebar_item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--primary-fonts);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    background-color: #fdfdfd;
    margin: 0px;
}

.dashboard_sidebar>.active {
    color: white !important;
    background-color: var(--primary-color) !important;
}

.dashboard_card {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgb(234, 248, 234);
    position: relative;
}

.dashboard_card_title {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--primary-fonts);
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0px;
}

.dashboard_card_badge {
    top: 0;
    right: 0;
    color: white;
    font-size: 12px;
    position: absolute;
    padding: 2px 5px;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
    background-color: var(--primary-color);
}

.dashboard_card_count {
    color: black;
    font-size: 40px;
    font-weight: bold;
    padding: 10px 0;
    margin: 0px;
    font-family: var(--primary-fonts);
}

.table_name_title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--variant-color);
    font-family: var(--primary-fonts);
}

.custom_btn {
    font-weight: 100;
    letter-spacing: 1px;
    font-family: var(--primary-fonts);
}

/* ====== Table Heading Style ======= */
.rdt_TableHead,
.rdt_TableHeadRow {
    color: #223039 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    font-family: var(--primary-fonts);
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    background-color: #D7DFE9 !important;
}


/* ===  Login Section === */

.login_section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password_show_btn {
    position: absolute;
    z-index: 999;
    top: 3px;
    right: 10px;
    font-size: 20px;
    opacity: 0.5;
    color: var(--primary-color);
    border-right: 1px solid gainsboro;
}

.login_user_icon,
.login_lock_icon {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    font-size: 37px;
    opacity: 0.8;
    padding: 8px;
    color: var(--primary-color);
    border-right: 1px solid gainsboro;
}

.login_btn {
    width: 100%;
    color: white;
    padding: 8px 16px;
    font-family: var(--primary-fonts);
    letter-spacing: 1px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.message_action_btn {
    font-size: 14px;
    font-family: var(--primary-fonts);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.customer_message_count {
    color: gray;
    position: absolute;
    font-size: 12px;
    right: 5px;
    bottom: 5px;
}

/* Hide number input spinners in Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input spinners in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 400px) {
    .login_section {
        width: 100%;
        padding-bottom: 50px 0;
    }
}